.chat-container {
	display: flex;
	flex-direction: row;
	background-color: #f8efef;
	width: 100%;
}
.users {
	width: 30%;
	padding-top: 48px;
	border: 3px solid #333;
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

	max-height: 120vh;
}

.message-feed {
	width: 70%;
	padding-top: 40px;
	border: 3px solid #333;
	overflow: scroll;
	max-height: 100vh;
	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.message-input {
	margin-bottom: 0;
	/* width: 400px;  */
	overflow: auto;
	width: 100%;
	border-radius: 2%;
	box-shadow: 5px 1px #888888;
	overflow: auto;
}
#messages {
	min-height: 100vh;
	overflow-y: scroll;
	width: 100%;
	/* background-color: #f8efef; */
	background-color: #ffdee9;
	background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.message-form {
	bottom: 0;
	margin-right: 2px;
	margin-left: auto;
	margin-bottom: 50px;
	background-color: #f8efef;
	position: fixed;
	width: 100%;
}
#chat-message {
	margin-top: 2.5%;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 3px 3px black;
	width: 50%;
}
.current-user-message {
	margin-right: 2.5%;
	margin-left: 45%;
	align-self: flex-end;
	background-color: #248bf5;
	color: #fff;
}

.other-user-message {
	margin-left: 2.5%;
	align-items: flex-start;
	background-color: rgb(138, 202, 42);
}
.searchArea {
	outline: 0;
	width: 100%;
	background: var(--color-light);
	background-color: honeydew;
	padding: 0 1.6rem;
	border-radius: 5px;
	appearance: none;
	transition: all var(--dur) var(--bez);
	transition-property: width, border-radius;
	z-index: 1;
	position: relative;
}
.send-button {
	opacity: 0.8;
	border-radius: 20%;
	background-color: lavenderblush;
	float: right;
	margin-top: 0%;
	padding-bottom: 10px;
	margin-right: 25%;
	box-shadow: 1px 1px #888888;
	color: #0093e9;
}
form.edit-message {
	display: flex;
	flex-direction: column;
}

form.edit-message input[type="text"] {
	margin-top: 0.5rem;
	border: 1px solid transparent;
	background-color: var(--bg-color-3);
	background-color: #f8efef;
}

form.edit-message input[type="text"]:focus {
	border: 1px solid var(--bg-color-2);
}

.edit-button {
	margin-top: 0.5rem;
	width: 50px;
}
/* #chat-form {
	text-align: "center";
	display: flex;
} */
