.App {
	min-height: 100vh;
	color: white;
	overflow: hidden;
	background-color: #8bc6ec;
	background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 53%);
}

.appAside {
	width: 50%;
}
/* this was at width 50%  */
.appForm {
	width: 50%;
	height: 100%;
	padding: 50px;
	/* border: 5px solid #355c7d; */
	overflow: auto;
	margin: auto;
	margin-top: 50px;
	background-color: #f5efef;
	box-shadow: 5px 10px #355c7d;
}

.pageSwitcher {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10%;
}

.pageSwitcherItem {
	background-color: #355c70;
	color: #9da6b1;
	padding: 10px 25px;
	cursor: pointer;
	font-size: 0.9em;
	border: none;
	outline: none;
	display: inline-block;
	text-decoration: none;
}

.pageSwitcherItem-active {
	background-color: #355c70;
	color: white;
}

.pageSwitcherItem:first-child {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.pageSwitcherItem:last-child {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.formCenter {
	margin-bottom: 100px;
}

.formTitle {
	color: #f8b195;
	font-weight: 300;
	margin-bottom: 50px;
}

.formTitleLink {
	color: #f8b195;
	text-decoration: none;
	display: inline-block;
	font-size: 1.7em;
	margin: 0 10px;
	padding-bottom: 5px;
}

.formTitleLink:first-child {
	margin-left: 0;
}

.formTitleLink-active {
	color: white;
	border-bottom: 1px solid #6b5b95;
}

.formField {
	margin-bottom: 40px;
}

.formFieldLabel {
	display: flex;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #355c7d;
}
.formFieldInput {
	width: 85%;
	background-color: transparent;
	border: none;
	color: #355c7d;
	outline: none;
	border-bottom: 1px solid #445366;
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 10px;
	margin-top: 10px;
}

.formFieldInput::placeholder {
	color: #355c7d;
}

.formFieldButton {
	background-color: #6b5b95;
	color: white;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 70px;
	font-size: 0.8em;
	font-weight: 500;
}

.formFieldLink {
	color: #66707d;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1.5px solid #6b5b95;
	padding-bottom: 5px;
}

.formFieldCheckboxLabel {
	color: #646f7d;
	font-size: 0.9em;
}

.formFieldCheckbox {
	position: relative;
	top: 1.5px;
}

.formFieldTermsLink {
	color: #355c7d;
	border-bottom: 1px solid #6b5b95;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 2px;
	margin-left: 5px;
}

.socialMediaButtons {
	padding: 10px 100px 10px 0px;
}
